@model MonWebShop.DAL.Article

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ART_Photo)
        </dt>

        <dd>
            <img src=@Model.ART_Photo height="250" width="250"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ART_Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ART_Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ART_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ART_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ART_Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ART_Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ART_Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ART_Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SousCategorie.SCAT_Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SousCategorie.SCAT_Libelle)
        </dd>

    </dl>
</div>

