@using MonWebShop.DAL
@model IEnumerable<MonWebShop.DAL.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Listes des articles</h2>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<body>
<div class="col-lg-8">
    <table id="Filtre">
        <tr>
            <th class="col-lg-2">Catégorie :</th>
            <th class="col-lg-2">@Html.DropDownList("Categories", (SelectList)ViewBag.ListeCategories, new { id = "CAT_Id", @class = "form-control" })</th>
            <th class="col-lg-2">Sous-Catégorie :</th>
            <th class="col-lg-2">
                <select id="sousCat" class="form-control">
                    <option value="1"></option>
                </select>
            </th>
        </tr>
    </table>
</div>
<br />
    <span></span>
<br />
<div class="col-lg-12 container body-content">
    <div class="col-lg-8">
        <table id="articlesTable" class="table">
            <tr>
                <th>Articles</th>
                <th>Descriptif</th>
                <th>Prix unitaire</th>
                <th>Quantité en stock</th>
                <th>Sous-Catégorie</th>
                <th>Actions</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ART_Libelle)</td>
                    <td>@Html.DisplayFor(modelItem => item.ART_Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.ART_Prix)</td>
                    <td>@Html.DisplayFor(modelItem => item.ART_Stock)</td>
                    <td>@Html.DisplayFor(modelItem => item.SousCategorie.SCAT_Libelle)</td>
                    <td><a href='#' class='detail' id="@item.ART_Id">Details</a></td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.ART_Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.ART_Id })</td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-4">
        @Html.Partial("_Panier")
    </div>
</div>
</body>
<div id="detArticle" style="display:none">
    @Html.Partial("_Details", new MonWebShop.DAL.Article())
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery-ui")

    <script>
        //Execution de script quand la page est chargée
        $(document).ready(
           //Formattage du modal
          function () {
              $("#detailArticle").dialog(
                  {
                      autoOpen: false,
                      modal: true,
                      height: 630,
                      width: 500,
                      buttons:
                      {
                          "Ajouter au panier": function () { AjouterAuPanier(); },
                          "Fermer": function () { $(this).dialog("close"); }
                      }
               });
            
          GetDetail();
          });
        /*------------------ A revoir pour finalisation ----------*/

        //Fonction qui recupere le detail d'un article et l'affecte au modal pour l'afficher...
        function GetDetail() {
            $(document).on('click', '.detail', function () {
                $.ajax({
                    type: 'GET', datatype: 'html',
                    url: '@Url.Action("_Details", "Home")',
                    data: { id: $(this).attr('id') },
                    success: function (response) {
                        if (response.result == "OK") {
                            $("#detArticle").html(response);
                            $("#detArticle").dialog("open");
                        }
                    }
                });
            });
        };
        /*-------------------------------------------------------------*/


        //Fonction qui charge les sous-catégories en fonctions de la categorie choisie.
        $(function () {
            $("#CAT_Id")
                .change(function () {
                    $.get("/Home/GetSousCategorie",
                        { Id: $("#CAT_Id").val() },
                        function (data) {
                            $("#sousCat").empty();
                            $.each(data,
                                function (index, row) {
                                    $("#sousCat")
                                        .append("<option value='" +
                                            row.SCAT_Id +
                                            "'>" +
                                            row
                                            .SCAT_Libelle +
                                            "</option>");
                                });
                        });
                });
        });

        //Fonction qui ajuste la valeur de l'Id du la sous categorie


        //Fonction qui recupere les resultat Json du filtre
        $(document)
            .ready(function() {
                $("#CAT_Id")
                    .change(function() 
                    {
                            
                        $.ajax(
                       {
                            type: 'GET',
                            url: "/Home/GetArticleByCategorieId",
                            data: { catId: $("#CAT_Id").val() },
                            success: function (response) 
                            {
                                $('#articlesTable').html(response);
                            }
                            
                        });
                    });
 
            });

        //Fonction qui recupere les resultat Json du filtre
        $(document)
            .ready(function () {
                $("#sousCat")
                    .change(function () 
                    {

                        $.ajax(
                        {
                            type: 'GET',
                            url: "/Home/GetArticleBySousCategorieId",
                            data: { scatId: $("#sousCat").val() },
                            success: function (response) 
                            {
                                $('#articlesTable').html(response);
                            }
                          
                        });
                    });
            });
    </script>
    } 