@model IEnumerable<MonWebShop.DAL.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Listes des articles</h2>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="col-lg-8">
    <table id="Filtre">
        <tr>
            <th class="col-lg-2">Catégorie :</th>
            <th class="col-lg-2">@Html.DropDownList("Categories", (SelectList)ViewBag.ListeCategories, new { id = "CAT_Id", @class = "form-control" })</th>
            <th class="col-lg-2">Sous-Catégorie :</th>
            <th class="col-lg-2">
                <select id="subCat" class="form-control">
                    <option value="1"></option>
                </select>
            </th>
        </tr>
    </table>
</div>
<br />
<div class="col-lg-8">
    <table id="ListTable" class="table">
        <tr>
            <th>Articles</th>
            <th>Descriptif</th>
            <th>Prix unitaire</th>
            <th>Quantité en stock</th>
            <th>Sous-Catégorie</th>
            <th>Actions</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ART_Libelle)</td>
                <td>@Html.DisplayFor(modelItem => item.ART_Description)</td>
                <td>@Html.DisplayFor(modelItem => item.ART_Prix)</td>
                <td>@Html.DisplayFor(modelItem => item.ART_Stock)</td>
                <td>@Html.DisplayFor(modelItem => item.SousCategorie.SCAT_Libelle)</td>
                <td>@Html.ActionLink("Details", "_Details", new { id = item.ART_Id })</td>
                @if (User.IsInRole("admin"))
                {
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.ART_Id })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.ART_Id })</td>
                }
            </tr>
        }
    </table>
</div>
<div class="col-lg-4">
    @Html.Partial("Panier")
</div>